DB_HOST=localhost
DB_DATABASE=example
DB_USERNAME=root
DB_PASSWORD=password

JWT_SECRET=your-secret-key-change-this-in-production
JWT_EXPIRE=86400

WA_API_KEY=your-wa-api-key-change-this-in-production

APP_DEBUG=true
APP_URL=http://localhost:8000
